<header class="header">
  <div class="container">
    <div class="header__logo">
      <img src="/assets/img/logo.svg?{{hash}}" class="header__logo-img" alt="Аквавосток лого">
      <span class="header__logo-text">АКВАВОСТОК.РФ</span>
    </div>
  </div>
</header>
